{% extends 'base.html.twig' %}

{% block title %}Sobre{% endblock %}

{% block body %}
	<section class="fdb-block">
		<div class="container">
            <p class="text-center">
                Sobre o Bauru oportunidades
                O Bauru oportunidades divulga GRATUITAMENTE vagas de emprego em Bauru e região.

                Nosso site foi criado em 2010, com o objetivo de ser simples, por isso não é preciso se cadastrar para visualizar os anúncios.

                O Bauru oportunidades funciona da seguinte forma: as empresas nos enviam os anúncios; validamos de acordo com algumas regras (saiba mais aqui); e depois publicamos.

                Cada um dos anúncios possui instruções de como se candidatar (geralmente por e-mail ou site da empresa anunciante). O Bauru oportunidades não participa dos processos seletivos (currículos enviados para nossos e-mails serão excluídos).

                Curta ou siga nossa página oficial no Facebook e acompanhe nossas postagens.
            </p>
            <p class="text-center">
                Entre em contato com o Bauru oportunidades
                Para entrar em contato envie uma mensagem para contato@bauruoportunidades.com.br ou vagas@bauruoportunidades.com.br

                Dúvidas, reclamações, elogios e sugestões são sempre bem-vindos.

                Nossos e-mails são as únicas formas de contato, não temos telefone/Whatsapp.

                Você pode acompanhar também nossa página oficial do Facebook: www.facebook.com/bauruoportunidades
            </p>

            <p class="text-center">
                CURRÍCULOS
                O Bauru oportunidades não participa dos processos seletivos (currículos enviados para nossos e-mails serão excluídos).

                Envie seu currículo para o e-mail informado no campo Contato da vaga ou siga as instruções descritas no texto do anúncio.

                Atenção candidatos: quando se candidatar a qualquer vaga publicada no Bauru oportunidades tome os mesmos cuidados de sempre: procure se informar sobre a empresa e a vaga antes de comparecer a qualquer local de entrevista e nunca aceite que empresas cobrem qualquer valor ou favor em troca de vagas.
            </p>

		</div>
	</section>
{% endblock %}
