{% extends 'base.html.twig' %}

{% block title %}Sobre{% endblock %}

{% block body %}
    <section class="fdb-block">
        <div class="container">
            <p class="text-center">
                Estudante da Fatec Bauru, eu cresci sob o lema da "Cidade Vigia" — um título que Bauru ganhou no século XIX, quando era o olho atento dos pioneiros e, depois, das ferrovias que cruzaram o interior em 1905. Sempre olhando adiante, a cidade me ensinou a enxergar possibilidades. Sozinho, como quem acende uma fogueira no escuro, criei o "Bauru Oportunidades", uma startup simples e ousada. Minha missão? Divulgar vagas de emprego de graça, unindo quem busca com quem oferece. É o meu jeito de devolver à "Cidade Vigia" um pouco da luz que ela me deu.
            </p>
        </div>
    </section>
{% endblock %}