<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="job-name">
            Operador Máquina CNC - Operador Máquina - Corte laser - Bauru
        </h5>
        <h5 class="modal-title" id="job-createdat">
            Cadastrado em: 06/05/2022
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="job-description">Habilidades para operacionalizar maquinas de CNC e/ou corte laser.</p>
        <p id="job-user">Nome da empresa: Gera Arte Comunicação Visual</p>
        <p id="job-contact">Contato: lino.leme@geraarte.com.br</p>
        <p id="job-location">Vaga em Bauru</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar para a lista de vagas</button>
      </div>
    </div>
  </div>
</div>